html {
scroll-behavior: smooth;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* Popup Box */
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.modal button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background: #0056b3;
}

.btn-wa-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 20; /* Agar di atas gambar/carousel */
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    border: 2px solid white;
}

.btn-wa-overlay:hover {
    background-color: #128c7e;
    color: white;
    transform: scale(1.1);
    text-decoration: none;
}