{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Dashboard{% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
        
        {% block head %}
        <link rel="stylesheet" href="{% static 'demo/css/base_style.css' %}?v=3"/>
        {% endblock %}
    </head>    
    <body class="{% if not user.is_authenticated %}no-sidebar{% endif %}">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">🚗 Car Showroom Demo</a>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                    <span class="text-white me-3">Hello {{ request.user.username|title }}, {{ request.user.role }}</span>
                    <a href="/demo/logout/" class="btn btn-outline-light btn-sm">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
        {% comment %} <div class="main-wrapper"> {% endcomment %}
            {% if user.is_authenticated %}
                <div class="sidebar">
                    {% if request.user.role == 'admin' %}
                        <a href="{% url 'demo_dashboard' %}">📊 Dashboard</a>
                        <a href="{% url 'demo_userlist_dashboard' %}">👤 User</a>
                        <a href="">📝 Log</a>
                    {% endif %}
                    {% if request.user.role == 'admin' or request.user.role == 'sales' %}
                        <a href="{% url 'demo_carlist_dashboard' %}">🚗 Mobil</a>
                        <a href="{% url 'demo_customer_list_dashboard' %}">📞 Customer</a>
                    {% endif %}
                    <a href="{% url 'carList' %}">💰 Showroom Cars</a>
                    <a href="{% url 'logout' %}">🏃🏾‍➡️ Logout</a>
                </div>
            {% endif %}
        {% comment %} </div> {% endcomment %}
        <!-- Page layout -->
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
