{% extends "base.html" %}

{% block content %}
<h2>🚗 Mobil</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nama mobil</th>
      <th>Harga</th>
      <th>Status</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
    <tr>
      <td>{{ car.nama }}</td>
      <td>{{ car.harga }}</td>
      <td> {{ car.status }}</td>
      <td><a href="{% url 'update_car' car.id %}?next={% url 'dashboard_car_list' %}" class="btn btn-warning">Update</td>
      <td><a href="{% url 'delete_car' car.id %}?next={% url 'dashboard_car_list' %}" class="btn btn-danger">Delete</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'create_car'%}?next={% url 'dashboard_car_list' %}" class="btn btn-primary mt-2">Tambah mobil</a>                                     

{% endblock content %}

